   <!-- footer -->
   <footer class="mastfoot mt-auto">
    <nav class="navbar bg-transparent mt-4">
      <div class="container">
        <p class="small text-white text-center mx-auto mb-0">© 2020 Céline Lafont & Laetitia Langlois @ lacapsule</p>
      </div>
    </nav>
  </footer>
  <!-- endfooter -->
</div>



    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      const log = document.querySelector('#log')
      if (window.location.pathname == '/') {
        log.innerHTML = 'Log-in'
      } else {
        log.innerHTML = 'Log-out'
      }
    </script>  
  </body>
  </html>