<%- include('header')%>

    <!-- main -->
    <div class="container-fluid main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-white h4 text-center">Oops, no train available :(</p>
            <div class="d-flex justify-content-center"><a href="/search" class="text-danger"><u>back to search page</u></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end main -->

    <%- include('footer')%>