<%- include('header')%>

    <!-- main -->
    <div class="container-fluid main offset-2">

      <div class="container">
        <div class="row offset-2" id="OneWay"> <h1> One-Way Ticket:  </h1> </div>
        <div class="row">

          <div class="col-12">
            <!-- Formulaire de saisie ville -->
            <form action="/trains/results" method="post">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input id="cityfrom" name="cityfrom" type="text" class="form-control mb-2" placeholder="From: Paris, Marseille..." required>
                  </div>

                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <input id="cityto" name="cityto" type="text" class="form-control" placeholder="To: Lyon, Lille..." required>
                    </div>
                  </div>

                  <!-- Calendrier -->
                  
                  <div class ='col-auto mb-2'>
                      <input id="date" name="date" type="date" class="form-control" min="2018-11-20" max="2018-11-24" required>
                  </div>
                  
                    <!-- Bouton-->
                  <div class="col-auto">
                    <button type="submit" class="btn btn-danger mb-2">Go</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>


<!-- Image-->
    <div class= 'offset-5 col-2'> 
        <img class ='img-fluid' id='img' src="/images/landmark.png">
    </div>
    <!-- end main -->

    <%- include('footer')%>

<script>
  $(document).ready(function() {
    $('input').on('keydown', function(event) {
        if (this.selectionStart == 0 && event.keyCode >= 65 && event.keyCode <= 90 && !(event.shiftKey) && !(event.ctrlKey) && !(event.metaKey) && !(event.altKey)) {
           var $t = $(this);
           event.preventDefault();
           var char = String.fromCharCode(event.keyCode);
           $t.val(char + $t.val().slice(this.selectionEnd));
           this.setSelectionRange(1,1);
        }
    })
})
</script>



