<%- include('header')%>

    <!-- main -->
    <div class="container-fluid">

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="text-white h4 mb-3">One-Way Ticket:</h1>
          </div> 
        </div>
        <!-- Formulaire de saisie ville -->
          <form action="/trains/results" method="post">
            <div class="form-row">
              <div class="col-md-4 form-group">
                <input id="cityfrom" name="cityfrom" type="text" class="form-control mb-2" placeholder="From: Paris, Marseille..." required>
              </div>
              <div class="col-md-4 form-group">
                  <input id="cityto" name="cityto" type="text" class="form-control mb-2" placeholder="To: Lyon, Lille..." required>
              </div>
              <!-- Calendrier -->
              <div class ='col-md-3 form-group'>
                  <input id="date" name="date" type="date" class="form-control mb-2" min="2018-11-20" max="2018-11-24" required>
              </div>
                <!-- Bouton-->
              <div class="col-md-1 form-group">
                <button type="submit" class="btn btn-danger mb-2">Go</button>
              </div>
            </div>
        </form>
        <div class="row">
          <div class="col-12">
            <img class="mx-auto d-block landmark" src="/images/landmark.png" alt="Landmark">
          </div>
        </div>
      </div>
    </div>



    <!-- end main -->

    <%- include('footer')%>

<script>
  $(document).ready(function() {
    $('input').on('keydown', function(event) {
        if (this.selectionStart == 0 && event.keyCode >= 65 && event.keyCode <= 90 && !(event.shiftKey) && !(event.ctrlKey) && !(event.metaKey) && !(event.altKey)) {
           var $t = $(this);
           event.preventDefault();
           var char = String.fromCharCode(event.keyCode);
           $t.val(char + $t.val().slice(this.selectionEnd));
           this.setSelectionRange(1,1);
        }
    })
})
</script>



