<%- include('header')%>

    <!-- main -->
    <div class="container-fluid main offset-2">

      <div class="container">
        <div class="row offset-2" id="OneWay"> <h1> One-Way Ticket :  </h1> </div>
        <div class="row">

          <div class="col-12">
            <!-- Formulaire de saisie ville -->
            <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">FromCity</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="From : Paris, Marseille...">
                  </div>

                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">ToCity</label>
                    <div class="input-group mb-2">
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="To : Lyon, Lille...">
                    </div>
                  </div>

                  <!-- Calendrier -->
                  
                  <div class ='col-auto mb-2'>
                      <input type="date" class="form-control" id="start" name="trip-start" value="2019-11-22" min="2019-01-01" max="2019-12-31">
                  </div>
                  
                    <!-- Bouton-->
                  <div class="col-auto">
                    <button type="submit" class="btn btn-danger mb-2">Go</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>


<!-- Image-->
    <div class= 'offset-5 col-2'> 
        <img class ='img-fluid' id='img' src="/images/landmark.png">
    </div>
    <!-- end main -->

    <%- include('footer')%>
 



