body {
  background: rgb(60,163,218);
  background: linear-gradient(0deg, rgba(60,163,218,1) 0%, rgba(255,255,255,1) 100%);
  height: 100vh;
}

.main {
  margin-top: 150px;
  display: flex;
  align-items: center;
}
.blue-bg {
  background-color: rgb(60,163,218);
}

#OneWay {
margin-bottom: 10px;
color: aliceblue;

}

#img{ 
  margin-top: 50px;
}