html, body {
  height: 100%;
  background: rgb(60,141,218);
  background: linear-gradient(50deg, rgba(60,141,218,1) 0%, rgba(199,247,255,1) 100%);
}

.main {
  display: flex;
  align-items: center;
}
.blue-bg {
  background-color: rgb(60,163,218);
}

#OneWay {
margin-bottom: 10px;
color: aliceblue;

}

#img{ 
  margin-top: 50px;
}